*.o
*.dep.mk
*.txt
.*.swp
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
affine
coincidence
denigma
des3
freq
generate_aes_integral
linear_radiography
merge_freq
micro_rsa
pohlig_hellman
shanks
unaes4
undes3
vigenere
test/test
